<header class="bg-azul2 container-fluid" >
    <div class="row">
            <div class="col-1">
               <a href="/"> <img class="logoSize" src="assets/images/logoMedio.png" alt="logo"></a>
            </div>
            <div class="col-4 d-flex justify-content-center" >
                <i class="material-icons my-3 me-2">
                    {{icon}}
                </i>
                <h1 class="my-3 ">{{title}}</h1>
            </div>
            
            <div *ngIf="user" class="col-7">
                <div class="container-fluid">
                    <div class="row d-flex justify-content-end" style="width: 100%;">
                        <div class="col-9  d-flex justify-content-end">
                            <span class=" my-1"> {{usuarioNome}}</span>
                        </div>
                        <div class="col-2 d-flex justify-content-end" style="width: 10%;"
                            data-toggle="tooltip" data-placement="bottom" title="Meu perfil">
                            <a (click)="openDialog()"  >
                                <img *ngIf="genero === 'M'" class="avatar " src="assets/images/male-avatar.png" alt="">
                                <img *ngIf="genero === 'F'" class="avatar " src="assets/images/female-avatar.png" alt="">
                            </a>
                        </div>
                        <div class="col-1d-flex justify-content-end my-4" style="width: 8%;">
                            <div data-toggle="tooltip" data-placement="bottom" title="SAIR">
                                <a (click)="sair()" class="sair"> <i class="material-icons">exit_to_app</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</header>