<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center m-2">
                <h1 class="h1">Restaurante: {{restaurante.nome}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <mat-stepper #stepper>
                    <!-- endereco -->
                    <mat-step [stepControl]="formEndereco" errorMessage="Endereço obrigatório.">
                        <form [formGroup]="formEndereco">
                            <ng-template matStepLabel>Endereço Entrega</ng-template>
                            <app-form-endereco [formEndereco]="formEndereco"></app-form-endereco>
                            <div class="row mt-5">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-info me-3" mat-button matStepperNext>Próximo</button>
                                    <button class="btn btn-danger" mat-button (click)="stepper.reset()">Limpar</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                    <!-- forma pagamento-->
                    <mat-step [stepControl]="formFormaPagamento" errorMessage="Preencha todos os campos.">
                        <form [formGroup]="formFormaPagamento">
                            <ng-template matStepLabel>Escolha forma de pagamento</ng-template>
                            <div class="row mt-4">
                                <mat-form-field appearance="fill">
                                    <mat-label>Pagamento</mat-label>
                                    <mat-select formControlName="idFormaPagamento"  required>
                                      <mat-option>Escolha pagamento</mat-option>
                                      <mat-option *ngFor="let pagamento of restaurante.formasPagamento" [value]="pagamento.id">
                                        {{pagamento.descricao}}
                                      </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="formCozinha.hasError('required')">Escolha uma cozinha</mat-error> -->
                                </mat-form-field>
                            </div>
                            <div class="row mt-5">
                                <div class="col-12 d-flex justify-content-end">
                                <button class="btn btn-warning me-3" mat-button matStepperPrevious>Voltar</button>
                                <button class="btn btn-info me-3" mat-button matStepperNext>Próximo</button>
                                <button class="btn btn-danger" mat-button (click)="stepper.reset()">Limpar</button>
                            </div>
                        </div>
                      </form>
                    </mat-step>
                    <!-- Itens -->
                    <mat-step [stepControl]="itensFormGroup" errorMessage="Ao menos um item deve deve ser adicionado">
                        <form [formGroup]="itensFormGroup">
                            <ng-template matStepLabel>Itens</ng-template>
                            <div class="container-fluid">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-10 mt-5">
                                        <div formArrayName="itensFormArray" *ngFor="let item of itensFormArray.controls; let i = index;">
                                            
                                            <div class="col" [formGroupName]="i">
                                                <mat-form-field class="mx-1" appearance="fill">
                                                    <mat-label>Nome</mat-label>
                                                   <strong> <input matInput formControlName="nome"  ></strong>
                                                </mat-form-field>
                                                <mat-form-field class="mx-1" appearance="fill">
                                                    <mat-label>Quantidade</mat-label>
                                                    <input type="number" min="0" matInput formControlName="quantidade" required>
                                                </mat-form-field>
                                                <mat-form-field class="mx-1" appearance="fill">
                                                    <mat-label>Observação</mat-label>
                                                    <input matInput placeholder="Bem Passado" formControlName="observacao">
                                                </mat-form-field>
                                                <button (click)="addItem(item, i)" class="mx-1" mat-mini-fab color="primary" data-toggle="tooltip" data-placement="right" title="Clique para adicionar ao pedido"
                                                    aria-label="Example icon button with a plus one icon">
                                                    <mat-icon>plus_one</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 ">
                                <div class="col-12  d-flex justify-content-end">
                                    <button class="btn btn-warning me-3" mat-button matStepperPrevious>Voltar</button>
                                    <button class="btn btn-danger me-3" mat-button (click)="stepper.reset()">Limpar</button>
                                    <button class="btn btn-success me-3" mat-button (click)="enviar()">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                </mat-stepper>
            </div>
        </div>
    </div>
</section>
