<section>
    <div class="container-fluid m-3">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Permissão</mat-label>
                    <input matInput placeholder="Nome">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Nome para uma Permissão. Tipo EDITAR_COZINHAS.</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <br> <br>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <mat-form-field appearance="outline">
                    <mat-label>Permissão</mat-label>
                    <input matInput placeholder="Descrição">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Descrição para uma Permissão. Tipo: Editar cozinhas.</mat-hint>
                </mat-form-field>
            </div>
        </div>
        <br> <br>
        <div class="row">
            <div class="col-8 d-flex justify-content-end">
                <button mat-flat-button color="primary">Salvar</button>
            </div>
        </div>
    </div>
</section>
