<section>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-around">
                <div class="mt-5">
                    <mat-form-field appearance="outline">
                        <mat-label>Grupo</mat-label>
                        <input matInput placeholder="Nome" [(ngModel)]="grupo.nome">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Nome para um grupo. Tipo: Gerência.</mat-hint>
                      </mat-form-field>
                </div>
                <div class="mt-5">
                    <mat-form-field appearance="fill">
                        <mat-label>Associar Permissões</mat-label>
                        <mat-select [(value)]="idsSelecionados" [formControl]="permissao" multiple >
                          <mat-option *ngFor="let permissao of permissoes" [selected]="idsSelecionados"
                            [value]="permissao.id">{{permissao.nome}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
        </div>
        <br> <br>
        <div class="row">
            <div class="col-10 d-flex justify-content-end">
                <button (click)="salvar()" mat-flat-button color="primary">Salvar</button>
            </div>
        </div>
    </div>
</section>
