<section>
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex justify-content-center m-5 col">
                <mat-form-field appearance="outline">
                    <mat-label>Grupo</mat-label>
                    <input matInput placeholder="Nome">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Nome para um grupo. Tipo: Gerência.</mat-hint>
                  </mat-form-field>
            </div>
        </div>
        <br> <br>
        <div class="row">
            <div class="col-8 d-flex justify-content-end">
                <button mat-flat-button color="primary">Salvar</button>
            </div>
        </div>
    </div>
</section>
