<div id="esqueceu-senha" class="container-fluid bg-gradient d-flex justify-content-center rounded" >
    <div class="row p-5">
        <div class="col-12 ">
            <div class="mb-3">
                <label for="email" class="form-label">Email cadastrado</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning mb-3">Enviar</button>
        </div>
        <div class="d-flex justify-content-center">
            <a  routerLink="/" style="font-size: medium; color: rgb(231, 68, 68);"
             class="nav-link active" aria-current="page" href="#">Voltar Login</a>
        </div>
    </div>
</div>

