<section>
    <div id="cadastrar" class="container-fluid d-flex justify-content-center rounded" >
        <div class="row p-3">
            <form #formUser="ngForm">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <span *ngIf="nome.errors && (nome.dirty || nome.touched)"
                         class="mb-5 text-danger ml-3" [hidden]="!nome.errors.required">
                         Digite o nome.
                        </span>
                        <span *ngIf="nome.errors && (nome.dirty || nome.touched)" 
                        class="material-icons text-danger ml-3">
                            error
                       </span>
                        <input #nome="ngModel" [(ngModel)]="user.nome" type="text" class="form-control" name="name" id="name"
                            placeholder="Nome" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <span *ngIf="email.errors && (email.dirty || email.touched)"
                         class="mb-5 text-danger ml-3" [hidden]="!email.errors.required">
                            Digite o email.
                        </span>
                        <span *ngIf="email.errors && (email.dirty || email.touched)"
                         class="material-icons text-danger ml-3" [hidden]="!email.errors.required">
                            error
                        </span>
                        <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" name="email"
                        id="email" placeholder="name@example.com" required>
                    </div>
                </div>
                <div class="col-12" *ngIf="!edicao">
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <span *ngIf="senha.errors && (senha.dirty || senha.touched)"
                         class="mb-5 text-danger ml-3" [hidden]="!senha.errors.required">
                            Digite a senha.
                        </span>
                        <span *ngIf="senha.errors && (senha.dirty || senha.touched)"
                         class="material-icons text-danger ml-3" [hidden]="!senha.errors.required">
                            error
                        </span>
                        <input #senha="ngModel" [(ngModel)]="user.senha" type="password" class="form-control"
                         name="senha" id="senha" required>
                      </div>
                </div>
                <div class="col-12" *ngIf="!edicao">
                    <div class="mb-3">
                        <label for="confirmeSenha" class="form-label">Confirme Senha</label>
                        <span *ngIf="confirmeSenha.errors && (confirmeSenha.dirty || confirmeSenha.touched)"
                            class="mb-5 text-danger ml-3" [hidden]="!confirmeSenha.errors.required">
                            Repita a senha.
                        </span>
                        <span *ngIf="confirmeSenha.errors && (confirmeSenha.dirty || confirmeSenha.touched)"
                         class="material-icons text-danger ml-3" [hidden]="!confirmeSenha.errors.required">
                            error
                        </span>
                        <input #confirmeSenha="ngModel" [(ngModel)]="user.confirmeSenha" type="password" class="form-control"
                            id="confirmeSenha" name="confirmeSenha" required>
                    </div>
                    <span *ngIf="senhaDiferente" class="mb-5 text-danger ml-3" [hidden]="!senhaDiferente">
                        Senhas não conferem!! 
                    </span>
                    <span *ngIf="senhaDiferente"
                    class="material-icons text-danger ml-3" [hidden]="!email.errors.required">
                       error
                   </span>
                </div>
                <div class="col-12 mb-3" style="background-color: white;">
                    <mat-form-field appearance="fill" *ngIf="!edicao" style="width: 100%;">
                        <mat-label>Genero</mat-label>
                        <mat-select  [errorStateMatcher]="matcher" [(value)]="user.genero"  >
                          <mat-option>Selecione</mat-option>
                          <mat-option *ngFor="let genero of generos" [value]="genero">{{genero}}</mat-option>
                        </mat-select>
                        <mat-hint>Dicas!</mat-hint>
                        <!-- <mat-error *ngIf="selected.hasError('required')">Você deve selecionar um Estado</mat-error> -->
                        <!-- <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')"> -->
                          <!-- Selecione um Estado -->
                        <!-- </mat-error> -->
                      </mat-form-field>
                </div>
            </form>
            
            <div class=" d-flex justify-content-end" *ngIf="!edicao">
                <button (click)="salvar()" type="submit" class="btn btn-primary mb-3">Salvar</button>
            </div>
            <div class=" d-flex justify-content-end" *ngIf="edicao">
                <button (click)="editar()" type="submit" class="btn btn-primary mb-3">Editar</button>
            </div>
        </div>
    </div>
    
</section>
