section{
    display: flex;
    flex-direction: column;
    height: 93%;
    margin: 2%;
    background-color: rgba(80, 78, 78, 0.048);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}