section{
    background-color: rgba(78, 80, 80, 0.04);
    display: flex;
    flex-direction: column;
    height: 95%;
    margin: 2%;
}

table {
    width: 100%;
}

.edite {
    color: yellowgreen;
}

.delete {
    color: red;
}

.associar {
    color: blue;
}

.desassociar{
    color: brown;
}
