<section>
    <app-waiting-reponse [waitingResponse]="waitingResponse"
    [temDados]="temRestaurantes" [urlToGo]="'adicionar-restaurante'"></app-waiting-reponse>
    <div [hidden]="!temRestaurantes" >
        <div class="row ">
          <div class="col-12 justify-content-center " style="text-align: center;">
            <h1 class="h1">Restaurantes</h1>
          </div>
        </div>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mineira" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
      
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>
      
            <!-- Name Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
              <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
            </ng-container>

            <!-- Cozinha Column -->
            <ng-container matColumnDef="cozinha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cozinha </th>
                <td mat-cell *matCellDef="let row"> {{row.cozinha.nome}} </td>
            </ng-container>

            <!-- endereço Column -->
            <ng-container matColumnDef="endereco">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Endereço </th>
                <td  mat-cell *matCellDef="let row">
                    <a (click)="openDialog(row.endereco)" *ngIf="row.endereco"  data-toggle="tooltip" 
                        data-placement="right" title="Ver endereço">
                        <mat-icon>remove_red_eye</mat-icon>
                    </a>
                    <a (click)="adicionarEndereco(row.id)" style="text-decoration: none;" *ngIf="!row.endereco"  data-toggle="tooltip" 
                      data-placement="right" title="Sem informação">
                        <mat-icon>info</mat-icon>
                        <span>Adicionar</span>
                    </a>
                </td>
            </ng-container>

            <!-- produtos Column -->
            <ng-container matColumnDef="produtos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Produtos </th>
              <td  mat-cell *matCellDef="let row">
                <mat-form-field appearance="fill" class="mt-2" *ngIf="row.produtos.length > 0">
                  <mat-label>Produtos</mat-label>
                  <mat-select  matNativeControl (change)="selectProduto($event)" multiple>
                    <mat-option  class="mb-1" *ngFor="let produto of row.produtos" [value]="produto"
                          [selected]="selectProduto === produto.id"  >{{ produto.nome }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-label *ngIf="row.produtos.length === 0" style="margin-left: 10px;">
                  <i 
                    data-toggle="tooltip" data-placement="right" title="Nenhum produto cadastrado">
                    <mat-icon>hourglass_empty</mat-icon> 
                    Sem produto
                  </i>
                </mat-label>
              </td>
            </ng-container>

           <!-- pagamentos Column -->
           <ng-container matColumnDef="pagamentos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Formas Pagamentos </th>
            <td  mat-cell *matCellDef="let row">
              <mat-form-field appearance="fill" class="mt-2" *ngIf="row.formasPagamento.length > 0">
                <mat-label>Pagamentos</mat-label>
                <select  matNativeControl (change)="selectPagamento($event)" >
                  <option value="">Selecione</option>
                  <option  class="my-5" *ngFor="let pagamento of row.formasPagamento" [value]="pagamento.id"
                    [selected]="selectPagamento === pagamento.id" >{{ pagamento.descricao }}
                  </option>
                </select>
              </mat-form-field>

              <mat-label *ngIf="row.formasPagamento.length === 0" style="margin-left: 10px;">
                <i 
                  data-toggle="tooltip" data-placement="right" title="Nenhum pagamento cadastrado">
                  <mat-icon>hourglass_empty</mat-icon> 
                  Sem formas pagamento
                </i>
              </mat-label>
            </td>
            </ng-container>
      
            <!-- aberto Column -->
            <ng-container matColumnDef="aberto">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Aberto </th>
              <td mat-cell *matCellDef="let row"> 
                <mat-label *ngIf="row.aberto" style="margin-left: 10px;">
                  <a (click)="fechar(row)"   data-toggle="tooltip" data-placement="right" 
                      title="Fechar restaurante" >
                     <i><mat-icon class="edite">lock_open</mat-icon></i> 
                  </a>
                </mat-label>
                <mat-label *ngIf="!row.aberto" style="margin-left: 10px;">
                  <a (click)="abrir(row)"  data-toggle="tooltip" data-placement="right" 
                      title="Abrir restaurante">
                    <i ><mat-icon class="delete">lock</mat-icon> </i>
                  </a>
                </mat-label>
              </td>
            </ng-container>

            <!-- fazer pedido Column -->
            <ng-container matColumnDef="fazerPedido">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fazer Pedido </th>
              <td mat-cell *matCellDef="let row"> 
                <mat-label *ngIf="row.aberto" style="margin-left: 10px;">
                  <a   data-toggle="tooltip" data-placement="right" 
                      title="Fazer um pedido" >
                     <i><mat-icon class="edite">restaurant_menu</mat-icon></i> 
                  </a>
                </mat-label>
                <mat-label *ngIf="!row.aberto" style="margin-left: 10px;">
                  <p  data-toggle="tooltip" data-placement="right" 
                      title="Restaurante fechado">
                    <!-- <i ><mat-icon class="delete">lock</mat-icon> </i> -->
                    Fechado
                  </p>
                </mat-label>
              </td>
            </ng-container>

            <!-- Açoes Column -->
            <ng-container matColumnDef="Actions" sty>
              <th mat-header-cell *matHeaderCellDef > Ações </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <!-- Restaurante -->
                  <mat-label class="d-flex justify-content-center">Restaurante</mat-label>
                  <button (click)="editar(row)" mat-menu-item>
                    <mat-icon class="edite">edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button (click)="deletar(row)" mat-menu-item>
                    <mat-icon class="delete">delete</mat-icon>
                    <span>Deletar</span>
                  </button>
                  <hr style="width: 170px;">
                  <!-- pagamentos -->
                  <mat-label class="d-flex justify-content-center">Pagamentos</mat-label>
                  <button *ngIf="row.formasPagamento.length < 3" (click)="associarPagamento(row)" mat-menu-item>
                    <mat-icon class="associar">image</mat-icon>
                    <span>Associar</span>
                  </button> 
                  <button (click)="desassociarPagamento(row)" *ngIf="row.formasPagamento.length > 0" mat-menu-item>
                    <mat-icon class="desassociar">broken_image</mat-icon>
                    <span>Desassociar</span>
                  </button>
                  <hr style="width: 170px;">
                  <!-- produtos -->
                  <mat-label class="d-flex justify-content-center">Produtos</mat-label>
                  <button *ngIf="row.produtos.length > 0" mat-menu-item (click)="listarProdutos(row)">
                    <mat-icon class="associar">list</mat-icon>
                    <span>Listar</span>
                  </button>
                  <button mat-menu-item (click)="adicionarProduto(row.id)">
                    <mat-icon class="associar">image</mat-icon>
                    <span>Cadastrar</span>
                  </button>
                  <button (click)="deletarProduto(row.id)" *ngIf="row.produtos.length > 0" mat-menu-item>
                    <mat-icon class="desassociar">broken_image</mat-icon>
                    <span>Deletar</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Nenhuma cozinha com o valor: "{{input.value}}"</td>
            </tr>
          </table>
      
          <mat-paginator #scheduledOrdersPaginator  [pageSizeOptions]="[2, 25, 100]" aria-label="Select page of dataSource.data"></mat-paginator>
        </div>
  
        <div class="col-12">
          <div class="demo-button-container d-flex justify-content-end m-3">
              <button (click)="adicionar()"  mat-raised-button class="demo-button">
                  Adicionar
              </button>
          </div>
      </div>
       
    </div>
</section>
