<div mat-dialog-content>
    <div *ngIf="endereco" class="container-fluid">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="h3">Endereço</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p>Logradouro: {{endereco.logradouro}}</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p>Bairro: {{endereco.bairro}}</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p>Número: {{endereco.numero}}</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p>Cidade: {{endereco.cidade?.nome}}</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p>CEP: {{endereco.cep}}</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <p *ngIf="endereco.complemento">Complemento: {{endereco.complemento}}</p>
        </div>
    </div>
    <div *ngIf="!endereco" class="container-fluid">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="h3">Sem Informação</h1>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end" mat-dialog-actions>
  <button class="btn btn-danger" mat-button (click)="onNoClick()">Fechar</button>
</div>

