body,
html{
    padding: 0;
    margin: 0;
    height: 100%;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: red;
}

a {
    cursor: pointer;
}

/* .bg-azul1{
    background-color: #E8F1F2;
}

.bg-azul2{
    background-color: #1B98E0;
} */