<section class="text-center" >
    <ul class="nav flex-column ">
        <li class="m-3">
          <a href="meu-perfil" routerLink="meu-perfil" class="linkNav p-2" role="button" aria-current="page">Meu
            perfil
          </a>
        </li>
        <li class="m-3">
          <a href="pedidos" routerLink="pedidos" 
          class="linkNav p-2" role="button">Pedidos</a>
        </li>
        <li class="m-3">
          <a routerLink="permissoes" href="permissoes" 
          class="linkNav p-2" role="button">Permissões</a>
        </li>
        <li class="m-3">
          <a routerLink="enderecos" href="enderecos" 
          class="linkNav p-2" role="button">Endereços</a>
        </li>
        <li class="m-3">
          <a routerLink="listar-usuarios" href="listar-usuarios"  
          class="linkNav p-2" role="button">Listar usuários</a>
        </li>
        <li class="m-3">
          <a routerLink="listar-cidades" href="listar-cidades"
           class="linkNav p-2" role="button">Listar Cidades</a>
        </li>
      </ul>
</section>
