<section class="text-center" >
    <ul class="nav flex-column ">
        <li class="nav-item">
          <a (click)="navegarTo('meu-perfil')" class="nav-link text-light active" 
          aria-current="page" >Meu perfil</a>
        </li>
        <li class="nav-item">
          <a (click)="navegarTo('pedidos')" class="nav-link text-light" >Pedidos</a>
        </li>
        <li class="nav-item">
          <a (click)="navegarTo('permissoes')" class="nav-link text-light" >Permissões</a>
        </li>
        <li class="nav-item">
          <a (click)="navegarTo('enderecos')" class="nav-link text-light">Endereços</a>
        </li>
        <li class="nav-item">
          <a (click)="navegarTo('listar-usuarios')"  class="nav-link text-light">Listar usuários</a>
        </li>
      </ul>
</section>
